<!Doctype html>
<head> 
<meta charset="UTF-8">
<title>khin.com</title>
</head>
<body bgcolor="purple">
<center><h2><marquee direction="right">Daw Khin Khin Htoo </marquee></h2></center>

<table width = "100%" border = "1">
                  <tr>
            <td colspan = "2" bgcolor = "lightblue">
                <center><img src="images/journal.jpg"width="500px"height="300px"></center
            </td>
         </tr>
		          <tr valign = "top">
		             <td bgcolor = "white" width = "25">
               <ul style="list-style-type:disc">
			   
<li><b> Name</b> : Daw Khin Khin Htoo </li>
<li><b>Age</b> : 73years old</li>
<li><b>Address</b> : Yangon</li>
<li><b>Date Of Birth</b> : 19.6.1945</li>
<li><b>Spouse</b> : Michael Aris </li>
<li><b>Children</b> : Alexandar Aris, Kim Aris</li>
<li><b>Education</b> : SOAS, University of London (1985-1987), University of Oxford(1968)</li>
<li><b>Award</b> : Nobel Peace Prize, Sakharov Prize, Congressional Gold Medal... etc.</li>
            </td>
                   <td bgcolor = "white" width = "70%" height = "200">
				   <h3> Biography </h3>
              She was born in Yangon. She spent much of her early adult years abroad before returning home and becoming an activist against the brutal rule of dictator U Nay Win. She was placed under house arrest in 1989 and spent 15 of the next 21years in custody, winning the 1991 Nobel Prize for Peace along the way. She was finally released from house arrest in November 2010 and subsequently held a seat in parliament for the National League for Democracy(NLD) party. Following the NLD's victory in 2016 parliamentary elections, she became the de facto head of the country in the new role of state counsellor.
            </td>
         </tr>
         <tr>
            <td colspan = "2" bgcolor = "red">
               <center>
                  khinkhinhtoo@gmail.com
               </center>
            </td>
         </tr>
         
</table>
    
</body>
</html>
