<!Doctype html>
<head> 
<meta charset="UTF-8">
<title>lumin.com</title>
</head>
<body bgcolor="purple">
<center><h2><marquee direction="right">Lu Min(Myanmar Actor & Director)</marquee> </h2> </center>

<table width = "100%" border = "1">
                  <tr>
            <td colspan = "2" bgcolor = "lightblue">
                <center><img src="images/lumin.jpg"width="500px"height="300px"></center>
            </td>
         </tr>
		          <tr valign = "top">
		             <td bgcolor = "white" width = "25">
               <ul style="list-style-type:disc">
			   
<li><b> Name</b> : Lu Min </li>
<li><b>Other Name</b> : Min Min Hlaing </li>
<li><b>Height</b> : 5 ft 8 in</b></li>
<li><b>Address</b> : Yangon</li>
<li><b>Spouse(s)</b> : Khin Sabe OO</li>
<li><b>Children</b> : Ayeyarwaddy Lu Min & Ewarat Lu Min</li>

            </td>
                   <td bgcolor = "white" width = "70%" height = "200">
				   <h3> Biography </h3>
               Lu Min was born in Aungban in ShanState.In 2008, he and his wife, Khin Sabe OO became one of the first couples in Myanmar to receive fertility treatment via intracytoplasmic sperm injection. Their daughter Ayeyarwaddy Lu Min was born that year.
			   Filmography is Kyan Sit Min(2005)and Mystery of Snow(2005).
            </td>
         </tr>
         <tr>
            <td colspan = "2" bgcolor = "red">
               <center>
                  lumin@gmail.com
               </center>
            </td>
         </tr>
         
		 
    
</body>
</html>
