<!Doctype html>
<head> 
<meta charset="UTF-8">
<title>nini.com</title>
</head>
<body bgcolor="purple">


<center>

<h2><marquee direction="right">Ni Ni Khin Zaw (Female Vocalist) </marquee></h2></center>

<table width = "100%" border = "1">
                  <tr>
            <td colspan = "2" bgcolor = "lightblue">
                <center><img src="images/ni.jpg"width="500px"height="300px"></center
            </td>
         </tr>
		          <tr valign = "top">
		             <td bgcolor = "white" width = "25">
               <ul style="list-style-type:disc">
			   
<li><b> Name</b> : Ma Ni Ni Khin Zaw</li>
<li><b>Address</b> : Tamway Township, Yangon</li>
<li><b>Date Of Birth</b> : 8.11.1951</li>
<li><b>Education</b> : B.Sc (Geology)</li>
<li><b>Spouse</b> : Daw Cho Cho </li>
<li><b>Children</b> : Mg Than Win Htike (Son) & Ma Phyu Phyu Thin (Daughter)</li>

            </td>
                   <td bgcolor = "white" width = "70%" height = "200">
				   <h3> Biography </h3>
              He Studied primary education at Nyaung Chaung Basic Education Primary School and secondary education at Danubyu Basic Education High School, graduated with a B.Sc degree from Yangon Arts and Science University. He also won Higher Grade Pleader and High Court Advocate degrees. He worked as a High Court senior lawer and High Court advocate in Danubyu and Pathein, Ayeyawady Region. He was appointed as NLD's committee secretary for Ayeyawady Region and later become secretary for NLD's Central Executive Committee.
         </tr>
         <tr>
            <td colspan = "2" bgcolor = "red">
               <center>
                  ninikhinzaw@gmail.com
               </center>
            </td>
         </tr>
         
</table>
    
</body>
</html>
